<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="recruiter.css">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Recruiter Panel</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="admin.html">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Home</span>
        </a>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Add Candidate</span>
          </a>
        </div>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Edit Candidate</span>
          </a>
        </div>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Candidate</span>
        </a>
      </li>
     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Personal Setting</span>
        </a>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Farid Sheikh</div>
        <div class="job">Admin</div>
        <div id="currentDate" style="color: aliceblue;"></div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content home-content-header">
        <div>
            <i class='bx bx-menu' ></i>
            <span class="text">Recruiter Panel</span>
        </div>
      <div class="header-right">
        <img src="./assets/notification.png" alt="notification">
        <img src="./assets/user.png" alt="user">
      </div>
    </div>
  </section>
  
  <script src="admin.js"></script>
</body>
</html>